
body  {

font-family: Arial, sans-serif;
    background-color: white;
    color: #333;

}

header{

background-color: #ffcc80;
padding: 20px;
text-align: center;

}

.logo{

    font-size: 35px;
    color: #ff6f00;

}

nav{

    color: rgb(100, 28, 28);

}

nav ul {

    list-style-type: none;
    padding: 10px 0;

}

nav ul li {

    display: inline;
    margin: 0 15px;

}

nav ul li a {

    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 1s;
  
}

nav ul li a:hover {

    background-color: #ffd54f;
    color: #3409ce;
    transform: scale(1.5);
    padding-block: 20px;

}


main {

    padding: 20px;

}



.welcome{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #264b9952;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(97, 28, 28, 0.301);
    margin: 50px;
    border: 2px black bold;

}



.modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}


.modal-content {

    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;

}

.modal-content h2 {

    margin-bottom: 15px;

}

.modal-content p {

    margin-bottom: 20px;

}


.close {

    text-decoration: none;
    color: #ff6600;
    background-color: #ffcc00;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;

}

.close:hover {

    background-color: #ff6600;
    color: rgb(255, 255, 255);

}

.modal-toggle:not(:checked) ~ .modal {

    display: flex;

}

.modal-toggle:checked ~ .modal {

    display: none;

}


footer {

    background-color: #ffcc80;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;

}

footer p {

    color: #ff6f00;

}

table{
    
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #264b9952;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(97, 28, 28, 0.301);
    margin: 50px;
    border: 2px black bold;

}

section{

    margin-bottom: 30px;
    background-color: #ffe0b2;
    padding: 15px;
    border-radius: 8px;

}
th{

    padding: 20px;
    
}

td{

    padding: 20px;

}

